.details-section {
  position: relative;
  width: 100%;
  background-color: #ff3366;
  padding: 4rem 0;
  overflow-x: hidden;
}

.details-container {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.details-content {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.details-date,
.details-location {
  font-size: 24px;
  margin-top: 10px;
}

.details-subheading {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}

.details-detail {
  font-size: 20px;
  margin-top: 10px;
}

.details-note {
  margin-top: 30px;
  font-size: 18px;
  font-style: italic;
}

.details-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 20px;
}

.gallery-item {
  text-align: center;
  margin-bottom: 10px;
}

.gallery-item img {
  width: 100%;
  height: 250px;
  max-height: 250px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

@media (max-width: 1005px) {
  .gallery-item:last-child {
    display: none;
  }
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Adjust based on your needs */
  height: 100vh;
  pointer-events: none; /* Prevents interaction issues */
  z-index: 1; /* Ensures it sits above the background but below text */
}

.home-header {
  position: relative; /* Needed for absolute positioning of the frame */
  text-align: center; /* Centers text properly */
  z-index: 2; /* Ensures text appears above the frame */
}
