
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

:root {
  --main-font: 'Pirata One';
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: var(--main-font);
  background-color: #fff;
  /* Checkerboard pattern using two offset gradients */
  background-image:
    linear-gradient(45deg, #f8d8e3 25%, transparent 25%, transparent 75%, #f8d8e3 75%, #f8d8e3),
    linear-gradient(45deg, #f8d8e3 25%, transparent 25%, transparent 75%, #f8d8e3 75%, #f8d8e3);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

p {
  font-size: 1.4rem;
}

h1 {
  font-family: var(--main-font);
  font-size: 8rem;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 6rem;
  }

  p {
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1.25rem;
  }
}

h2 {
  font-family: var(--main-font);
  font-size: 5rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
  font-weight: normal;
  text-align: center;
}

h4 {
  font-family: var(--main-font);
  font-size: 3rem;
  font-weight: bold;
}

.alt-font {
  font-family: var(--main-font);
}

ul {
  font-size: 1.25rem;
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 0;
}

button {
  font-family: var(--main-font);
  cursor: pointer;
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

input {
  font-size: 16px;
  font-family: var(--main-font);
}

/* End of index styles */
